// scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--black-400);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black-500);
}
